.scrollable-container {
  min-width:350px;overflow-x: scroll;
}

.icon-button-selected{
    background-color: #707070;
    color: #fff;
}
.icon-button-selected:hover{
    color: #fff;
}
.unSelected-metric{
    cursor: pointer;
    color:#888;
}

#chart-container{
	min-height:350px;
	border-radius:5px;
}
