.nlp-app {
  font-size: 22px;
  margin-top: 12px;
  color: #0196d8;
}
.nlp-text {
  font-family: "HelveticaNeue-UltraLight", 
    "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}