<footer>
    <div class="row">
        <div class="small-12 columns">
            <span class="blurb left" style="color:#fff;padding:10px;font-size: 11px;">
                <span class="copyright" >
                    &#169; {{::footerCopyrightYear}} PubMatic, All Rights Reserved<span class="bullet"></span>
                    <span>PubMatic Analytics</span>
                </span>
            </span>
        <!-- </div>
        <div class="small-6 columns"> -->

            <span class="links right">
                <span ng-repeat="link in footerlinks track by $index">
                    <a href="javascript:void(0);" ng-click="openNewWindow(link.link)">{{::link.label}}</a>
                    <span class="bullet"></span>
                </span>
            </span>
        </div>
        <div class="clearfix"></div>
</footer>
